
.header
  width 100%
  overflow hidden
  background-image url('../assets/chernobyl.jpg')
  background-size cover
  background-position center
  &__avatar
    width 132.5px
    display block
    margin 10% auto
