<!DOCTYPE html>
html(lang="es")
head
  meta(charset="UTF-8")
  title Mi portafolio de proyectos
  link(rel="stylesheet", href="./css/styles.css")
body(class="body")
  header(class="header")
    img(src="./assets/sezzh.jpg", class="header__avatar")
    h1(class="header__name") sezzh
    h2(class="header__email") hello@sezzh.com
