/* Color palette */

principalRed = rgba(230,52,74,1)
deepBlue = rgba(11,83,121,1)
lightBlue = rgba(4,119,155,1)
complementYellow = rgba(251,179,81,1)

//font colors

darkFont = #0404040
whiteFont = #FEFEFE
