/* Color palette */

secondary-color1 = rgba(166,60,79,1)
principal-color = rgba(165,84,166,1)
secondary-color2 = rgba(99,166,159,1)
complement-color = rgba(219,56,80,1)
no-te-duermas-carlos = "plox"
//font colors

darkFont = #0404040
whiteFont = #FEFEFE

default-base-font-family = "alegreyaregular"
default-base-font-family-italic = "alegreyaitalic"
